<section class="hero is-dark mb-3">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Editing Friend
      </h1>
      <h2 class="subtitle">
        oooops 
      </h2>
    </div>
  </div>
</section>


<%= render 'form', friend: @friend %>

<%= link_to 'Show', @friend , class: "button is-warning mt-3"%> 
<%= link_to 'Back', friends_path , class: "button is-info mt-3"%>
